# Created by .ignore support plugin (hsz.mobi)
.idea/compiler.xml
.idea/hydra.xml
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/uiDesigner.xml
akka_to_learn.iml
learn_hadoop_coding.iml